body{
    font-family: 'Uchen', serif;
    margin: 0px;    
    background-color:#ecebe6;
}
p {
    font-size: 20px;
    color:gray;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    color: gray;
}
#contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color:#5cb8ff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;

    border: 1px white solid;

}
#titular{
    text-align: center;
    margin-top: 170px;
}
h1{
    font-size: 60px;
    margin: 0px;
    font-weight: normal;
}
h2{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: normal;
}
header{
    background: url(fondo2.jpg);
    height: 100vh;
    background-size: cover;
}
#supremo{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
/*sobremi*/
#partedos{
 margin: 50px;   
 padding-bottom: 50px;
}
#seccion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin: 0px;
    padding-top: 10px;
}
#parrafo-boton{
    width: 40%;
    
}
#parrafo-boton p {
    color:black;
}
#parrafo-boton a {
    display: inline-block;
}
/*servicios*/
#partetres{
    margin: 30px;
}
.contenedorser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicios{
    width: 35%;
    padding: 32px;    
    border-radius: 10px;
    margin-bottom: 40px;
    
}
.blanco{
    background-color: blanchedalmond;
    color: black;
}
.celeste{
    background-color: cornflowerblue;
    color: white;
}
.servicios h4{
    font-size: 30px;
}
.blanco p {
    color: black;
    font-size: 20px;
}
.celeste p{
    color: white;
    font-size: 20px;
}
.servicios img{
    float: right;
}
#tituloservicio{
    padding: 0px;
    margin: 40px;
    font-size: 55px;
    font-weight: normal;
}
/*por que trabajar with me*/
.contenedorpor{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#tituloporque{
    padding: 0px;
    margin: 40px;
    font-size: 55px;
    font-weight: normal;
    text-align: center;
}
.razon h4{
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}
.razon p {
    font-size: 13px;
    line-height: 20px;    
}
.razon{
    margin: 15px;
}
#partecuatro{
    margin-top: 30px;
    margin-bottom: 30px;
}
